body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.teamsearch-nav {
  padding: 0 2em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(50px, 10vh, 70px);
}

.teamsearch-logo {
  height: 100%;
}

.teamsearch-navItem {
  position: relative;
  display: flex;
  gap: 10em;
}

.teamsearch-navItem input {
  width: 300px;
  border-radius: 20px;
  padding-left: 2.5em;
  border: 1px solid #ddd;
}

.teamsearch-icon {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

.teamsearch-navItem img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.teamsearch-main {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
}

.teamseach-filter {
  width: 100%;
  text-align: left;
  height: 30px;
  border: 1px solid red;
  margin: 1em 0;
}

.teamsearch-cubeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4em;
}

.teamsearch-cube {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.cube-item {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(180px, 18vh, 300px);
  position: relative;
}

.cube-item-name {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  font-weight: bold;
  color: white;
}

.cube-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: all 0.5s ease;
}

.cube-item img:hover {
  filter: brightness(1);
  transform: scale(1.05);
}

.cube-item-info {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 0;
  background-color: red;
  width: 100%;
}

.cube-item:hover .cube-item-info {
  opacity: 1;
  visibility: visible;
}

.cube-item:hover .cube-item-name {
  transform: scale(1.05);
}
