@font-face {
  font-family: "SF_IceLemon";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot);
}

/* ============ Navbar 스타일 ============ */
.navbar-brand img {
  max-height: 40px;
  width: auto;
}
.navbar {
  background: linear-gradient(to bottom, #000, #111111) !important;
}
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .navbar-toggler {
  font-family: "MaruBuri";
  color: #f5f5f5 !important;
}

.nav-link:hover {
  color: #da70d6 !important;
}

.nav-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ============ Section About 스타일 ============ */
.sub-title {
  font-family: "SF_IceLemon";
}

.team-container {
  max-width: 1000px;
  margin: 0 auto;

  font-family: "MaruBuri";
}

.team-name {
  text-align: left;
  padding-left: 16px;

  font-size: 1.5rem;
  color: white;
  padding: 5px 12px;
}

.team-name h2 {
  margin: 0;
}

.team-img-wrapper {
  width: 100%;
  aspect-ratio: 3/2; /* 비율 유지 (가로:세로 = 3:2) */
  overflow: hidden; /* 넘친 이미지 잘리도록 */
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; /* 위쪽을 기준으로 정렬 */

  border-radius: 40px;
}

.hashtag {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 12px;
  white-space: nowrap;

  /*
  background-color: #f2f2f2;
  border-radius: 20px;
  transition: background-color 0.3s;
  */
}

.hashtag a {
  text-decoration: none;
  color: white;
}

.hashtag:hover {
  cursor: default;
  transform: scale(1.2);
}

@media screen and (max-width: 48rem) {
  .mt-mobile {
    margin-top: 8px;
  }
}

.interview-question {
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
}

.interview-answer {
  border: 1px solid white;
  border-radius: 6px;
  padding: 1rem;
  color: white;
  font-style: italic;
}

/* ============ Section Member 스타일 ============ */
.member-main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: stretch;
}

.member-box {
  display: flex;
  gap: 1em;
  align-items: center;
}

.member-img-box {
  border: 1px solid white;
  width: 250px;
  border-radius: 4px;
}

.member-img-box img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.member-info {
  align-self: flex-start;
  border-radius: 4px;
  color: whitesmoke;
  padding: 2em;
}

@media (max-width: 767.98px) {
  .member-main {
  }

  .member-box {
    flex-direction: column;
    align-items: stretch;
  }

  .member-img-box {
    margin: 0 auto; /* 가운데 정렬 */
  }

  .member-info {
    width: 100%;
    min-height: auto;
    min-height: 250px; /* 원하는 만큼 */
  }
}

/* ============ Section Career 스타일 ============ */
.carrer-main {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.carrer-item {
  display: flex;
  justify-content: center;
  max-height: none;
}

.carrer-item.reverse {
  flex-direction: row-reverse;
  text-align: right;
}

.carrer-item.reverse .carrer-description {
  position: relative;
  right: 30px;
}

.carrer-item.reverse .carrer-skills {
  justify-content: flex-end;
}

.carrer-inner {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  width: 400px; /* 프로젝트 설명란 늘리기 */
}

.carrer-description {
  display: flex;
  justify-content: center; /* 좌우 중앙 */
  align-items: center; /* 상하 중앙 */
  text-align: left;
  background-color: #ddd;
  border-radius: 5px;
  color: black;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 1em 1.5em;
  position: relative;
  white-space: normal;
  width: 450px;
  min-height: 250px;
  z-index: 2;
}

.carrer-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  white-space: wrap;
  padding: 0;
}

.carrer-img {
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 490px;
  z-index: 1;
  filter: brightness(0.8);
}

.carrer-img:hover {
  filter: brightness(1);
}

.carrer-img img {
  border-radius: 5px;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 768px) {
  .carrer-item {
    flex-direction: column-reverse !important; /* reverse도 덮어씀 */
    align-items: center;
    text-align: center;
  }

  .carrer-item.reverse {
    flex-direction: column-reverse !important;
    text-align: center;
  }

  .carrer-item.reverse .carrer-description {
    position: static; /* relative 해제 */
    right: auto;
    left: auto; /* 오프셋 제거 */
    width: 90%;
    margin: 0 auto; /* 박스 자체 가운데 */
    text-align: center; /* 텍스트도 가운데 */
  }

  .carrer-inner {
    width: 100%;
    align-items: center;
    margin-top: 30px;
  }

  .carrer-description {
    width: 90%;
    min-height: auto;
    margin: 0 auto; /* 좌우 마진으로 가운데 정렬 */
    text-align: center; /* 텍스트도 가운데 */
    position: static;
  }

  .carrer-img {
    width: 100%;
    height: auto;
  }

  .carrer-skills {
    justify-content: center;
  }
}

/* ============ Dot Nav 스타일 ============ */
.dot-nav {
  position: fixed;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;

  transition: all 0.3s;
  cursor: pointer;
}

.dot.active {
  transform: scale(1.6);
  background-color: white;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 150%; /* dot보다 오른쪽으로 충분히 띄움 */
  transform: translateY(-50%);
  background-color: #3c4043;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  transition: opacity 0.2s ease;
  z-index: 10;
}

/* 마우스 올렸을 때 툴팁 보이기 */
.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* ============ Link Mail 스타일 ============ */
.link_mail {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 4em;
  position: fixed;
  z-index: 10;
}

.link_mail .fa-envelope {
  color: white;
}

.link_mail:after {
  content: "";
  background-color: white;
  width: 2px;
  height: 8em;
}

@media (max-width: 768px) {
  .link_mail {
    left: auto; /* 기존 left 해제 */
    right: 1em; /* 오른쪽 여백 */
    bottom: 1em; /* 아래 여백 */
  }

  .link_mail:after {
    display: none; /* 세로선 제거 */
  }

  .dot-nav {
    display: none;
  }
}
